.filters > * {
    display: block;
}

.filters > * + * {
    margin-block-start: var(--space-md);
}

[class*="--hide"] {
    display: none;
}

@media (min-width: 1280px) {
    .filters {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .filters > * {
        align-items: center;
        display: flex;
    }

    .filters > * + * {
        margin-block-start: 0;
        margin-inline-start: calc(var(--space-xs) + var(--space-sm));
    }

    .filters button {
        margin-inline-start: auto;
    }
}
